* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
html{
    background-color: white;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 8rem;
    width: 100vw;
    padding: 1rem;
}
nav img{
    height: 8rem;
    justify-self: left;
    margin-left: 3rem;
}
nav ul{
    width: 85%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    justify-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.3rem;
    font-weight:bold;
    padding: 1rem;
}
nav ul li{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:link{
    color: aliceblue;
}
nav ul li a:visited{
    color: aliceblue;
}
nav ul li a:hover{
    color: aliceblue;
    text-decoration: underline;
}
header{
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    color: rgb(74, 87, 135);
    margin: 2rem;
}
p{
    font-size: 1.2rem;
    font-weight: 500;
}
button{
    color: rgb(2, 0, 146);
    background-color: rgb(0, 153, 255);
    border-color: transparent;
    border-radius: 1rem;
    height: max-content;
    width: max-content;
    font-size: 3vh;
    font-weight: bold;
    padding: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.botonRegistro{
    text-align: center;
}
.primerVista{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100vw;
    height: 70vh;
    margin-bottom: 4rem;
}
.titulo{
    width: 100vw;
    height: 100vh;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo h1{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
    font-size:5rem;
    text-align: center;
    color: aliceblue;
}
.cuerpo{
    padding-left: 13rem;
    padding-right: 13rem;
}
.footer{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    align-content: center;
}
.footer a{
    height: 7rem;
    margin: auto;
}
.footer a img{
    height: 7rem;
    margin: auto;
}
footer{
    background-color: rgb(0, 64, 123);
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}